<app-layout></app-layout>

<img src="assets/images/banner.jpeg" alt="Hero Image" width="100%">
    

<section class="content">
  <div class="welcome">
    <h3>Bienvenidos a la Universidad Gabriel René Moreno</h3>
    <p>La Universidad Autónoma Gabriel René Moreno es una de las principales instituciones de educación superior en Bolivia. Fundada en 1880, ha sido un pilar en la formación académica y profesional en Santa Cruz y el país. Ofrece una amplia gama de programas de pregrado y posgrado, comprometidos con la excelencia educativa y la investigación.</p>
    
  </div>
  <div class="campus-spotlight">
    <h3>Enfoque en el Campus</h3>
    <p>El campus de la UAGRM es un vibrante centro de actividad académica y cultural. Con modernas instalaciones, laboratorios de última generación, y extensas áreas verdes, proporciona un entorno propicio para el aprendizaje y la innovación. Además, la universidad organiza regularmente eventos académicos, deportivos y culturales que enriquecen la vida estudiantil.</p>
    
  </div>
</section>

    