

  <header>
    <div class="header-container">
      
      <img src="assets/images/logo.png" alt="Hero Image" width="7%">
      <h1>UAGRM</h1>
      <h2>Universidad de Santa Cruz</h2>
         
    </div>
  </header>
  <div class="main-nav">
    <ul>
      <li><a (click)="goInicio()">Inicio</a></li>
      <li><a (click)="goDocente()">Docentes</a></li>
      <li><a (click)="goUsuario()">Usuarios</a></li>
      <li><a (click)="goGestion()">Gestiones</a></li>
      <li><a (click)="goCarrera()">Carreras</a></li>
      <li><a (click)="goMateriaGestion()">Asignaciones</a></li>
      <li><a (click)="goMateria()">Materias</a></li>  
      <li><a (click)="goAula()">Aulas</a></li>   
      <li><a href="#">Reportes</a></li>
      <li><a (click)="logout()" class="apply-button">Logout</a></li>
    </ul>
  </div>

